@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Instrument Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 4px;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
  border: 0.2em solid #6D68FB;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body{
  overflow-x: hidden;
}